{% extends "base/base.html" %}
{% load custom_filters %}

{% block title %}Create a Post | Share AI Chat{% endblock %}

{% block content %}
<p><b>Create a new post</b></p>
<p>Scroll down to view the rules.</p>
<p id="js-message"></p>

<form method="post" action="{% url 'createpost' %}" id="create-post-form">
    {% csrf_token %}
    <div class="mb-3">
        <p><label for="{{ form.title.id_for_label }}">Title</label></p>
        {{ form.title|addclass_to_input:"form-control"|add_autofocus }}
        {% if form.title.errors %}
            <div class="alert alert-danger">
                {{ form.title.errors }}
            </div>
      {% endif %}
    </div>
    <div class="mb-3">
        <p><label for="{{ form.content.id_for_label }}">Post</label></p>
        {{ form.content|addclass_to_input:"form-control" }}
        {% if form.content.errors %}
        <div class="alert alert-danger">
            {{ form.content.errors }}
        </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
<p>
    <b>How to use the bookmarklet</b>: 
    <ol>
        <li>Click the "Copy Bookmarklet" button below to copy the bookmarklet code.</li>
        <li>Right-click on your bookmarks bar and select "Add page" or "New bookmark" (terminology may differ based on the browser).</li>
        <li>In the form that appears, you can name the bookmarklet in the 'Name' field as you like, for instance, "Share AI Chat".</li>
        <li>In the 'URL' or 'Location' field, paste the bookmarklet code that you copied in the first step.</li>
        <li>Click 'Save' or 'Add' to finish the process.</li>
    </ol>
    Now, you can use the bookmarklet when needed by simply clicking on it in your bookmarks bar.
</p>
<p><button onclick="copyToClipboard()" class="btn btn-secondary">Copy Bookmarklet</button></p>
<p><b id="bookmarklet-info"></b></p>
<p>To learn more about how this website works, please check the <a href="{% url 'aboutpage' %}">about page</a>.</p>

<script>
    window.onload = function () {
        var title = localStorage.getItem('title');
        var content = localStorage.getItem('content');
        var messageElement = document.getElementById('js-message');

        if (title && content) {
            document.getElementById('id_title').value = title;
            document.getElementById('id_content').value = content;
            document.getElementById('id_content').readOnly = true;
        } else {
            messageElement.innerHTML = 'Please ensure both the title and content are provided before proceeding.';
            document.getElementById('id_title').readOnly = true;
            document.getElementById('id_content').readOnly = true;
        }
        localStorage.removeItem('title');
        localStorage.removeItem('content');
    }

function copyToClipboard() {
  const bookmarklet = "javascript:(function() {const chatContainer = document.querySelector('.flex.flex-col.text-sm.dark\\:bg-gray-800'); if (!chatContainer) {alert('Chat container not found'); return;} const chatMessages = Array.from(chatContainer.children).map(child => child.innerText); if (chatMessages.length > 0 && chatMessages[chatMessages.length - 1] === '') {chatMessages.pop();} console.log(JSON.stringify(chatMessages));})();";
  navigator.clipboard.writeText(bookmarklet).then(function() {
    document.getElementById("bookmarklet-info").innerText = "Bookmarklet copied to clipboard. Please follow the instructions to add it to your bookmarks.";
  }, function() {
    document.getElementById("bookmarklet-info").innerText = "Failed to copy bookmarklet to clipboard. Please try again.";
  });
}
</script>

{% endblock %}