{% extends "base/base.html" %}

{% block content %}
    <span id="user-authenticated" data-user-authenticated="{{ user.is_authenticated }}"></span>
    <p>
        <b>Sort by</b>:
        <a href="?sort_by=new">New</a> |
        <a href="?sort_by=trending">Trending</a>
        {% if sort_by == 'trending' %}
            <small>(
            {% if time == '1_day' %}
                <b>1 Day</b> |
            {% else %}
                <a href="?sort_by=trending&time=1_day">1 Day</a> |
            {% endif %}
            {% if time == '7_days' %}
                <b>7 Days</b> |
            {% else %}
                <a href="?sort_by=trending&time=7_days">7 Days</a> |
            {% endif %}
            {% if time == '30_days' %}
                <b>30 Days</b> |
            {% else %}
                <a href="?sort_by=trending&time=30_days">30 Days</a> |
            {% endif %}
            {% if time == 'all_time' %}
                <b>All Time</b>
            {% else %}
                <a href="?sort_by=trending&time=all_time">All Time</a>
            {% endif %}
            )</small>
        {% endif %}
    </p>

    {% for post in posts %}
        <div>
            <a class="vote-button" id="post-{{ post.id }}" data-post-id="{{ post.id }}" style="text-decoration: none;">
                {% if post.id in upvoted_post_ids %}
                    {% include 'main/upvote-fill.html' %}
                {% else %}
                    {% include 'main/upvote.html' %}
                {% endif %}
            </a>
            <a href="{% url 'post_detail' post_id=post.id %}">{{ post.title }}</a>
            <p>
                <span id="points-{{ post.id }}">{{ post.votes }}</span> 
                <span id="points-string-{{ post.id }}">point{{ post.votes|pluralize }}</span> 
                by {{ post.user.username }} | Created at: {{ post.created_at }}
            </p>           
            <hr>
        </div>
    {% endfor %}

    <div style="text-align: center;">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% if sort_by == 'trending' and time %}&time={{ time }}{% endif %}{% endif %}">Previous</a>
        {% endif %}
    
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% if sort_by == 'trending' and time %}&time={{ time }}{% endif %}{% endif %}">Next</a>
        {% endif %}
    </div>    
    {% include 'main/postvotingscript.html' %}
{% endblock %}