{% extends "base/base.html" %}
{% load custom_filters %}

{% block title %}{{ post.title }} | Share AI Chat{% endblock %}

{% block content %}
<span id="user-authenticated" data-user-authenticated="{{ user.is_authenticated }}"></span>
<a class="vote-button" id="post-{{ post.id }}" data-post-id="{{ post.id }}" style="text-decoration: none;">
    {% if is_upvoted %}
        {% include 'main/upvote-fill.html' %}
    {% else %}
        {% include 'main/upvote.html' %}
    {% endif %}
</a>
<b>{{ post.title }}</b>
<p>
    <span id="points-{{ post.id }}">{{ post.votes }}</span>
    <span id="points-string-{{ post.id }}">point{{ post.votes|pluralize }}</span>
    by {{ post.user.username }} | {{ comment_count }} comment{{ comment_count|pluralize }} | Created at: {{ post.created_at }}
    {% if can_delete %}
    | <a href="{% url 'post_delete' post.id %}">Delete Post</a>
    {% endif %}
</p>
<hr>
<div>{{ post.content|linebreaks }}</div>
<hr>
<p>Add comment</p>
<form method="post" action="{% url 'add_comment' post.id %}" id="add-comment-form">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.content|addclass_to_input:"form-control"|add_autofocus }}
      {% if form.content.errors %}
        <div class="alert alert-danger">
          {{ form.content.errors }}
        </div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
<br>
{% for comment in root_comments %}
    <div>
        <p>
            <a class="comment-vote-button" id="comment-{{ comment.id }}" data-comment-id="{{ comment.id }}" style="text-decoration: none;">
                {% if comment.id in upvoted_comment_ids %}
                    {% include 'main/upvote-fill.html' %}
                {% else %}
                    {% include 'main/upvote.html' %}
                {% endif %}
            </a>
            <span id="comment-points-{{ comment.id }}">{{ comment.votes }}</span>
            <span id="comment-points-string-{{ comment.id }}">point{{ comment.votes|pluralize }}</span>
            by {{ comment.user.username }}
            <span>| Created at: {{ comment.created_at }}</span>
        </p>
        <div>{{ comment.content|linebreaks }}</div>
        <p>
            <a href="{% url 'reply_comment' comment.id %}">Reply</a>
            {% if request.user == comment.user %}
                | <a href="{% url 'edit_comment' comment.id %}">Edit</a>
            {% endif %}
        </p>        
        
        {% for reply in comment.replies %}
            <div style="margin-left: 50px;">
                <p>
                    <a class="comment-vote-button" id="comment-{{ reply.id }}" data-comment-id="{{ reply.id }}" style="text-decoration: none;">
                        {% if reply.id in upvoted_comment_ids %}
                            {% include 'main/upvote-fill.html' %}
                        {% else %}
                            {% include 'main/upvote.html' %}
                        {% endif %}
                    </a>
                    <span id="comment-points-{{ reply.id }}">{{ reply.votes }}</span>
                    <span id="comment-points-string-{{ reply.id }}">point{{ reply.votes|pluralize }}</span>
                    by {{ reply.user.username }}
                    <span>| Created at: {{ reply.created_at }}</span>
                </p>
                <div>{{ reply.content|linebreaks }}</div>
                <p>
                    <a href="{% url 'reply_comment' comment.id %}?initial_text=@{{ reply.user.username }}">Reply</a>
                    {% if request.user == reply.user %}
                        | <a href="{% url 'edit_comment' reply.id %}">Edit</a>
                    {% endif %}
                </p>
                
            </div><br>
        {% endfor %}
    </div>
{% endfor %}

{% include 'main/postvotingscript.html' %}
{% include 'main/commentvotingscript.html' %}
{% endblock %}