{% extends "base/base.html" %}
{% load custom_filters %}

{% block title %}Password reset page | Share AI Chat{% endblock %}

{% block content %}
{% if validlink %}
<div class="row justify-content-center">
    <div class="col-md-4">

        <p><b>Please enter and confirm your new password.</b></p>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <p>
                <label for="id_new_password1">New password:</label>
            </p>
            {{ form.new_password1|addclass_to_input:"form-control"|add_autofocus }}
            <br>
            {{ form.new_password2.errors }}
            <p>
                <label for="id_new_password2">Confirm password:</label>
            </p>
            {{ form.new_password2|addclass_to_input:"form-control" }}
            <br>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
        {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}