{% extends "base/base.html" %}
{% load custom_filters %}

{% block title %}Password reset form | Share AI Chat{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h3 class="text-center">Password Reset Form</h3>
        <br>
        {% include "base/turnstile_script.html" %}
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}
            <p>{{ form.email|addclass_to_input:"form-control"|add_autofocus }}</p>
            <br>
            {% include "base/turnstile_div.html" %}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}